$icon-font-path: "../styles/fonts/"; // Change the path to the fonts
@import "bootstrap-sass/lib/bootstrap";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  line-height: 1.6;
  font-size: 18px;
  color: #666565;
  font-family: "ff-tisa-sans-web-pro", Arial, sans-serif;
}

a {
  color: #289BDD;
  &:hover {
    color: #2085BF;
  }
}
// Typography

.text-italic {
  font-style: italic;
}

.text-allcaps {
  text-transform: uppercase;
}

.text-quote {
  font-style: italic;
  font-size: 1.5em;
  font-weight: lighter;
}

.address-text {
  display: block;
  font-style: italic;
}

.visible {
  display: block;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.mobile-only {
  display: none;
}

.left-content {
    padding-right: 60px;
}

/* Custom page header */
.navigation {
  background: rgb(251, 246, 239);
  padding-top: 20px;
  padding-bottom: 20px;
  
  img.logo {
    width: 350px;
  }
}

.nav-options {
  li {
    display: inline-block;
    letter-spacing: 0.0525em;
    padding: 8px 15px;
    // border-radius: 4px;
    // border: 1px solid rgb(66, 149, 197);
    // background: #fff;
  }
}

  .nav-mobile {
    display: none;
    position: relative;
    line-height: 40px;
    font-size: 18px;

    ul {
      list-style: none;
    }

    button {
      padding: 7px 26px 10px 10px;
      display: inline;
      border: 1px solid #4295c5;
      color: #4295c5;
      background: white;

      &:hover {
        color: white;
        background: #4295c5;
      }
    }
  }

  .dropdown-menu > li > a {
    color: #4295c5;
    padding: 10px 30px;
    font-size: 18px;

      &.active {
        background: #3885B1;
        color: white;
        span {
          color: white;
        }
      }

  }

  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: white;
    background: #4295c5;

    span {
      color: white;
    }
  }

  .dropdown-menu {
    padding: 0px;
    min-width: 300px;
    border-radius: 0px;
    li {
      width: 100%;
      border: 1px solid #4295c5;
    }

    span {
      float: right;
      margin-top: -5px;
      padding-right: 25px;
      border: 0px;
      background: inherit;
      margin-right: -20px;
    }
  }

 // Buttons
.btn-login {
  border-radius: 4px;
  border: 1px solid rgb(66, 149, 197);
  background: #fff;

  &:hover {
    background: rgb(66, 149, 197);
    a {
    color: white;
    &:hover {
      text-decoration: none;
      }
    }
  }
}

button.cta-btn {
  border: 1px solid rgb(95, 196, 95);
  list-style: none;
  padding: 15px 25px 5px;
  margin-top: 20px;
  border-radius: 4px;
  text-shadow: 0px 1px 0px rgb(95, 196, 95);
  background: rgb(142, 220, 142);
  color: #fff;
  line-height: 30px;

  span.glyphicon {
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 15px;

  }

  &:hover {
    background: rgb(95, 196, 95);
  }

  a {
    color: white;
    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }

}

.sub-nav {
  padding-left: 0px;
  a {
    color: #fff;
    &:hover {
        text-decoration: none;
    }
  }

  .active {
    li {
      background: #43A343;
    }
  }
  
  li {
    border: 1px solid rgb(95, 196, 95);
    list-style: none;
    padding: 15px 25px;
    border-radius: 4px;
    text-shadow: 0px 1px 0px rgb(95, 196, 95);
    background: #8edc8e;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 10px;

    span.glyphicon {
      float: right;
      margin-top: 5px;
    }



    &:hover {
      text-decoration: none;
      background: rgb(95, 196, 95);
    }

    &.active {
      background: #3CAD3C;
    }

    &:first-child {
      margin-top: 0px;
    }
  }
}

.right-content {
  h1, h2, h3 {
    font-family: "merriweather",serif;
  }
  h3 {
    margin-top: 0px;
    margin-bottom: 20px;
    text-transform: capitalize;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 80px;
}

.left-align {
  padding-left: 0px;
}

.cleaner-list {
  padding-left: 0px;
}

// home-page section header
.hp-header {
  position: relative;
  img {
    width: 100%;
  }
}

.hp-header-mobile {
  display: none;
  position: relative;
  img {
    width: 100%;
  }

  .hp-header-text {
    position: absolute;
    top: 30%;
    width: 100%;
  }
}

.hp-header-text {
  position: absolute;
  top: 30%;
  width: 100%;
}

.hp-title {
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 4em;
  text-shadow: 1px 1px 1px #616161;
}

.hp-tagline {
  text-transform: capitalize;
  text-align: center;
  display: block;
  font-size: 2em;
  color: #616161;
}


.secondary-header {
  background: url(../images/background.png);
  background-size: 120%;
}

.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.our-team {
  background: url(../images/geometric-tile.jpeg);
  color: #FFFDFD;
}

.partner-bio {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #4D6669;
  &:last-child {
    border-bottom: 0px solid #4D6669;
    padding-bottom: 0px;
  }
}

.bio-contact-box {
  background: #FFFDFD;
  color: rgb(85, 84, 84);
  margin-right: 20px;
  box-shadow: 4px 4px 0px #3B5B5E;
  width: 95%;

  img {
    height: 200px;
    float: left;
  }

  .bio-contact-info {
    display: inline-block;
    padding-left: 30px;
    padding-top: 20px;
    height: 200px;

    span {
      display: block;
    }
  }
}

.bio-copy {
  margin-top: 0px;
    p {
      font-weight: lighter;
    }

}

/* Custom page footer */
.footer {
  color: #fff;
  background: #576C6D;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

@media screen and (max-width: 1200px) {
  .bio-contact-box .bio-contact-info {
    padding-left: 20px;
    padding-top: 12px;
    width: 240px;
    word-wrap: break-word;
    font-size: 16px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 994px) {
  .nav-options {
    display: none;
  }

  .nav-mobile {
    display: inline-block;
  }
}

@media screen and (max-width: 992px){
  .bio-contact-box img {
    height: inherit;
    width: 100%;
  }

  .bio-contact-box .bio-contact-info {
    padding-left: 30px;
    padding-top: 20px;
    height: 200px;
    
  }


  .left-align {
    padding-left: 15px;
  }
}

@media screen and (max-width: 940px) {
  .hp-header-text {
    top: 10%;
  }

  .hp-title {
    font-size: 3em;
  }

  .hp-tagline {
    font-size: 1.5em;
  }
}


@media screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .bio-contact-box img {
    height: 200px;
    width: inherit;
  }

  .bio-copy {
    margin-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .hp-header {
    display: none;
  }

  .hp-header-mobile {
    display: inline-block;
  }
}

@media screen and (max-width: 495px) {
  .bio-contact-box img {
    height: 160px;
  }

  .bio-contact-box .bio-contact-info {
    height: 160px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 12px;
    width: 170px;
  }
}

@media screen and (max-width: 415px) {
  .navigation img.logo {
    width: 300px;
  }
}

@media screen and (max-width: 400px) {
  .sub-nav {
      font-size: 15px;
    }

    .navigation img.logo {
    width: 250px;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: inline-block;
  }

    .section {
      padding-top: 30px;
      padding-bottom: 40px;
    }

  .bio-contact-box img {
    height: 166px;
  }

  .bio-contact-box .bio-contact-info {
    height: 166px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 12px;
    width: 120px;
    word-wrap: break-word;
  }
}

