$icon-font-path: "../styles/fonts/"; // Change the path to the fonts
@import "bootstrap-sass/lib/bootstrap";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  line-height: 1.6;
  font-size: 18px;
  color: #666565;
  font-family: "ff-tisa-sans-web-pro", sans-serif;
  font-weight: lighter;
}

a {
  color: #289BDD;
  &:hover {
    color: #2085BF;
  }
}
// Typography

.text-italic {
  font-style: italic;
}

.text-allcaps {
  text-transform: uppercase;
  font-family: "merriweather",serif;
}

.text-quote {
  font-style: italic;
  font-size: 1.5em;
  font-weight: lighter;
}

.address-text {
  display: block;
  font-style: italic;
}

.visible {
  display: block;
}

.contact {
    margin-bottom: 10px;
}

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.mobile-only {
  display: none;
}

h1, h2, h3 {
    font-family: "merriweather",serif;
  }

.right-content {
    padding-right: 100px;
    float: right;
    h3 {
        margin-top: 0px;
        margin-bottom: 20px;
        text-transform: capitalize;
      }
}

.left-content {
    padding-left: 100px;
    padding-right: 60px;
}

/* Custom page header */
.navigation {
  background: rgb(251, 246, 239);
  padding-top: 20px;
  padding-bottom: 20px;
  
  img.logo {
    width: 350px;
  }
}

.nav-options {
  li {
    display: inline-block;
    letter-spacing: 0.0525em;
    padding: 8px 15px;
    // border-radius: 4px;
    // border: 1px solid rgb(66, 149, 197);
    // background: #fff;
  }
}

.nav-mobile {
    display: none;
    position: relative;
    line-height: 40px;
    font-size: 18px;

	ul {
		list-style: none;
	}

	button {
    line-height: normal;
		padding: 2px 9px;
    display: inline;
    border: 1px solid #4295c5;
    color: #4295c5;
    background: white;
    border-radius: 4px;
    font-size: 24px;

		&:hover {
			color: white;
			background: #4295c5;
		}
	}


	.dropdown-menu > li > a {
		color: #4295c5;
		padding: 10px 30px;
		font-size: 18px;

        &.active {
            background: #3885B1;
            color: white;

            span {
                color: white;
            }
        }

      &:hover {
        color: white;
        background: #4295c5;
      }
    }
  }

  .dropdown-menu > li > a {
    color: #4295c5;
    padding: 10px 30px;
    font-size: 18px;

      &.active {
        background: #3885B1;
        color: white;
        span {
          color: white;
        }
      }

  }

  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: white;
    background: #4295c5;

    span {
      color: white;
    }
  }

  .dropdown-menu {
    padding: 0px;
    min-width: 300px;
    border-radius: 0px;
    top: inherit;
    li {
      width: 100%;
      border: 1px solid #4295c5;
    }

    span {
      float: right;
      margin-top: -5px;
      padding-right: 25px;
      border: 0px;
      background: inherit;
      margin-right: -20px;
      line-height: 32px;
    }
  }

 // Buttons
.btn-login {
  border-radius: 4px;
  border: 1px solid rgb(66, 149, 197);
  background: #fff;

  &:hover {
    background: rgb(66, 149, 197);
    a {
    color: white;
    &:hover {
      text-decoration: none;
      }
    }
  }
}

button.cta-btn {
  border: 1px solid rgb(95, 196, 95);
  list-style: none;
  padding: 15px 25px 5px;
  margin-top: 20px;
  border-radius: 4px;
  text-shadow: 0px 1px 0px rgb(95, 196, 95);
  background: rgb(142, 220, 142);
  color: #fff;
  line-height: 30px;

  span.glyphicon {
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 15px;

  }

  &:hover {
    background: rgb(95, 196, 95);
  }

  a {
    color: white;
    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }

}

// Mega-Menu for dropdown button
.menu-large {
  position: static !important;
}
.megamenu{
  padding: 0px 0px;
  width:100%;
}
.megamenu> li > ul {
  padding: 0;
  margin: 0;
}
.megamenu> li > ul > li {
  list-style: none;
}
.megamenu> li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.megamenu> li ul > li > a:hover,
.megamenu> li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  color: #999999;
}
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.megamenu.dropdown-header {
  color: #428bca;
  font-size: 18px;
}
// End Mega menu styling

.sub-nav {
  padding-left: 0px;
  a {
    color: #fff;
    &:hover {
        text-decoration: none;
    }
  }

  .active {
    li {
      background: #43A343;
    }
  }
  
  li {
    border: 1px solid rgb(95, 196, 95);
    list-style: none;
    padding: 15px 25px;
    border-radius: 4px;
    text-shadow: 0px 1px 0px rgb(95, 196, 95);
    background: #8edc8e;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 10px;

    span.glyphicon {
      float: right;
      margin-top: 5px;
    }



    &:hover {
      text-decoration: none;
      background: rgb(95, 196, 95);
    }

    &.active {
      background: #3CAD3C;
    }

    &:first-child {
      margin-top: 0px;
    }
  }
}

.right-content {

}

.section {
  padding-top: 60px;
  padding-bottom: 80px;
}

.left-align {
  padding-left: 0px;
}

.cleaner-list {
  padding-left: 0px;
}

// home-page section header
.hp-header {
  position: relative;
  img {
    width: 100%;
  }
}

.hp-header-mobile {
  display: none;
  position: relative;
  img {
    width: 100%;
  }

  .hp-header-text {
    position: absolute;
    top: 30%;
    width: 100%;
  }
}

.hp-header-text {
  position: absolute;
  top: 30%;
  width: 100%;
}

.hp-title {
  text-transform: uppercase;
  font-family: "merriweather", serif;
  text-align: center;
  color: white;
  font-size: 4em;
  text-shadow: 1px 1px 1px #616161;
}

.hp-tagline {
  text-transform: capitalize;
  font-family: "merriweather", serif;
  text-align: center;
  display: block;
  font-size: 2em;
  color: #616161;
}


.secondary-header {
  background: url(../images/mh-bg04.gif)no-repeat center top;
  background-size: 100%;
}

.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.our-team {
  background: url(../images/geometric-tile.gif);
  color: #FFFDFD;

  h2 {
    letter-spacing: 1px;
  }
}

.partner-bio {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #4D6669;
  &:last-child {
    border-bottom: 0px solid #4D6669;
    padding-bottom: 0px;
  }
}

.bio-contact-box {
  background: #FFFDFD;
  color: rgb(85, 84, 84);
  margin-right: 20px;
  box-shadow: 4px 4px 0px #3B5B5E;
  width: 95%;

  img {
    height: 200px;
    float: left;
  }

  .bio-contact-info {
    display: inline-block;
    padding-left: 30px;
    padding-top: 20px;
    height: 200px;

    span {
      display: block;
    }
  }
}

.bio-copy {
  margin-top: 0px;
    p {
      font-weight: lighter;
    }

}

/* Custom page footer */
.footer {
  color: #fff;
  background: #576C6D;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: -40px;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}


@media screen and (max-width: 1200px) {
	.bio-contact-box .bio-contact-info {
		padding-left: 20px;
		padding-top: 12px;
		width: 250px;
		word-wrap: break-word;
		font-size: 16px;
	}

    .left-content {
        padding-left: 80px;
        padding-right: 40px;
    }

    .right-content {
        padding-right: 80px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 994px) {
  .nav-options {
    display: none;
  }

  .nav-mobile {
    display: inline-block;
  }
}

@media screen and (max-width: 992px){
  .text-quote {
    font-size: 1.2em;
  }

  .bio-contact-box img {
    height: inherit;
    width: 100%;
  }

  .bio-contact-box .bio-contact-info {
    padding-left: 30px;
    padding-top: 20px;
    height: 200px; 
  }

    .left-content {
        padding-left: 60px;
    }

    .right-content {
        padding-right: 60px;
    }

  .left-align {
    padding-left: 15px;
  }
}

@media screen and (max-width: 940px) {
  .hp-header-text {
    top: 10%;
  }

  .hp-title {
    font-size: 3em;
  }

  .hp-tagline {
    font-size: 1.5em;
  }
}


@media screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
    .section {
      padding-top: 30px;
      padding-bottom: 40px;
    }
  
  .bio-contact-box img {
    height: 200px;
    width: inherit;
  }

  .bio-copy {
    margin-top: 20px;
  }

  .left-content {
    padding: 0px 60px;
    margin-bottom: 0px;
    }

    .right-content {
        padding: 0px 60px;
        margin-bottom: 40px;
        float: none;
    }

  .text-quote {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 600px) {
  .hp-header {
    display: none;
  }

  .hp-header-mobile {
    display: inline-block;
  }
}

@media screen and (max-width: 495px) {
  .bio-contact-box img {
    height: 160px;
  }

  .bio-contact-box .bio-contact-info {
    height: 160px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 12px;
    width: 170px;
  }
}

@media screen and (max-width: 415px) {
  .navigation img.logo {
    width: 300px;
  }
}

@media screen and (max-width: 400px) {
	// .nav-mobile button {
 //    padding: 0px 30px 0px 11px;
 //    font-size: 20px;
 //  }

  .secondary-header {
    background: url(../images/mh-bg--mobile.gif)no-repeat center top;
  }

  .left-content {
        padding: 0px 30px;
    }

    .right-content {
        padding: 0px 30px;
    }

    .sub-nav {
        font-size: 15px;
    }

    .navigation img.logo {
    width: 240px;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: inline-block;
  }

  .bio-contact-box img {
    height: 166px;
    width: inherit;
  }

  .bio-contact-box .bio-contact-info {
    height: 166px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 12px;
    width: 120px;
    word-wrap: break-word;
  }

}

