<div class="col-sm-7 right-content">
  {{outlet}}
</div>
<div class="col-sm-5 left-content">
    <ul class="sub-nav">
      {{#each}}
      <li>{{#link-to 'aboutItem' this}}<button>{{linkTitle}}<span class="glyphicon glyphicon-chevron-right"></span></button>{{/link-to}}</li>
      {{/each}}
    </ul>
</div>