<h3>{{title}}</h3>
{{{summary}}}
{{!-- This template populates the copy for each button in the AboutUs template. To add/change the copy, access
the array variable called 'abouts' in the router.js file --}}