{{!-- This template populates the buttons for the About Page. To add/change buttons, access
the array variable called 'abouts' in the router.js file --}}
{{!-- If you make changes to any of the templates within the app folder, after saving your changes you will need to run 'grunt build' in your terminal. This will rebuild the dist file which is designed for 
use in production. --}}
<div class="col-sm-7 right-content">
  {{outlet}}
</div>
<div class="col-sm-5 left-content">
    <ul class="sub-nav">
      {{#each}}
      <li>{{#link-to 'aboutItem' this}}<button>{{linkTitle}}<span class="glyphicon glyphicon-chevron-right"></span></button>{{/link-to}}</li>
      {{/each}}
    </ul>
</div>