<div class="col-sm-5 left-content">
    <ul class="sub-nav">
      {{#each}}
      {{#link-to 'aboutItem' this}}<li>{{linkTitle}}<span class="glyphicon glyphicon-chevron-right"></span></li>{{/link-to}}
      {{/each}}
    </ul>
</div>
<div class="col-sm-7 right-content">
  {{outlet}}
</div>