<div class="hp-header">
    {{outlet hpHeader}}
</div>
<div class="navigation">
    <div class="container">
        <ul class="nav-options pull-right cleaner-list">
            <li>{{#link-to 'aboutUs'}}About Us{{/link-to}}</li>
            <li>{{#link-to 'services'}}Services{{/link-to}}</li>
            <li><a href="#partners">Partners</a></li>
            <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
            <li class='btn-login'><a href="https://cwp.morningstar.com/CRMWebPortal/CWPHome.aspx?ProductCode=CWP">Client Login</a></li>
        </ul>
        <div class="dropdown nav-mobile pull-right">
            <button class="glyphicon glyphicon-th-list dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown"></button>
            <ul class="cleaner-list dropdown-menu" role="menu" aria-labeledby="dropdownMenu1">
                <li role="presentation">{{#link-to 'aboutUs' role="menuitem" tabindex="-1"}}About Us<span class="glyphicon glyphicon-chevron-right"></span>{{/link-to}}</li>
                <li role="presentation">{{#link-to 'services' role="menuitem" tabindex="-1"}}Services<span class="glyphicon glyphicon-chevron-right"></span>{{/link-to}}</li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#partners">Partners<span class="glyphicon glyphicon-chevron-right"></span></a></li>
                <li role="presentation">{{#link-to 'contact' role="menuitem" tabindex="-1"}}Contact<span class="glyphicon glyphicon-chevron-right"></span>{{/link-to}}</li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="https://cwp.morningstar.com/CRMWebPortal/CWPHome.aspx?ProductCode=CWP">Client Login<span class="glyphicon glyphicon-chevron-right"></span></a></li>
            </ul>
        </div>
        <a href="#">
            <img src="images/mh-logo.png" class="logo">
        </a>
    </div>
</div>
{{outlet mobile}}
<div class="secondary-header section">
    <div class="container">
        <div class="row">
            {{outlet content}}
        </div>
    </div>
</div>
<div class="our-team section">
    <div class="container">
        <a id="partners"></a>
        <h2>Our Team</h2>
        <div class="partner-bio row">
            <div class="col-sm-6 left-align">
                <div class="bio-contact-box">
                    <div class="headshot">
                        <img src="images/mary-headshot.jpg">
                    </div>
                    <div class="bio-contact-info">
                        <span class='text-allcaps'>Mary Mori-Huston</span>
                        <span class="text-italic">Managing Partner</span><br>
                        <div class="desktop-only">
                            <span>Phone: +1 305 856 9303</span>
                            <span>Fax: +1 305 373 4249</span>
                        </div>
                        <div class="mobile-only">
                            <a href="tel:+1-305-856-9303"><span>P: +1 305 856 9303</span></a>
                            <span>F: +1 305 373 4249</span>
                        </div>
                        <span><a href="mailto:mary.mori@morihuston.com?subject=I found your contact information on your website and I'd love to chat">mary.mori@morihuston.com</a></span>
                    </div>
                </div>
            </div>
            <div class="bio-copy col-sm-6">
                <p>Mary Mori-Huston is a co-founder and managing partner at Mori Huston Partners LLC.</p>
                <p>Mrs. Mori-Huston has more than 24 years of experience in banking and in the investment advisory business. She started her career with Bankers Trust Company (now Deutsche Bank) as a Relationship Manager for the Latin American region. After 10 years with that institution she joined Lehman Brothers, where she was a Financial Consultant. In 1998 she joined Dresdner Bank in the position of Investment Consultant, and was a voting member of the Global Investment Strategy Team. In the year 2005 she moved with UBS to Zurich, Switzerland and assumed the position of Senior Client Advisor.</p>
                <p>Mary graduated from Florida International University with a dual major in International Business and Finance and with a degree in International Bank Management.</p>
            </div>
        </div>
        <div class="partner-bio row">
            <div class="col-sm-6 left-align">
                <div class="bio-contact-box">
                    <div class="headshot">
                        <img src="images/robert-headshot.jpg">
                    </div>
                    <div class="bio-contact-info">
                        <span class='text-allcaps'>Robert Mori</span>
                        <span class="text-italic">Managing Partner</span><br>
                        <div class="desktop-only">
                            <span>Phone: +1 305 856 9304</span>
                            <span>Fax: +1 305 373 4249</span>
                        </div>
                        <div class="mobile-only">
                            <a href="tel:+1-305-856-9304"><span class="contact">P: +1 305 856 9304</span></a>
                            <span class="contact">F: +1 305 373 4249</span>
                        </div>
                        <span><a href="mailto:robert.mori@morihuston.com?subject=I found your contact information on your website and I'd love to chat">robert.mori@morihuston.com</a></span>
                    </div>
                </div>
            </div>
            <div class="bio-copy col-sm-6">
                <p>Robert Mori is a co-founder and managing partner at Mori Huston Partners LLC.</p>
                <p>In 1998 Robert  joined the Allianz/ Dresdner Group where he worked as an investment advisor and corporate fixed income analyst in their Hamburg, Bogotá and Miami offices, before advancing to become the Head of Product Development and Quantitative Asset Allocation for Allianz/Dresdner Private Banking The Americas. In 2005, Robert moved to Europe to become the Global Head of Structured Products for Dresdner Bank’s private and corporate client business. In 2008 he became the Head of Investment Products and Investment Advisory Services for Dresdner Bank Switzerland. In addition, he was a member of the Global Investment Policy Committee for Dresdner Bank Group.</p>
                <p>Robert graduated from the Vienna University of Economics and Business with an advanced degree in International Business Administration. He also holds the Chartered Financial Analyst (CFA) and the Chartered Alternative Investment Analyst (CAIA) designations.</p>
            </div>
        </div>
        <div class="partner-bio row">
            <div class="col-sm-6 left-align">
                <div class="bio-contact-box">
                    <div class="headshot">
                        <img src="images/maria-headshot.jpg">
                    </div>
                    <div class="bio-contact-info">
                        <span class='text-allcaps'>Maria Elena Hernandex</span>
                        <span class="text-italic">Executive Director</span><br>
                        <div class="desktop-only">
                            <span>Phone: +1 305 856 9305</span>
                            <span>Fax: +1 305 373 4249</span>
                        </div>
                        <div class="mobile-only">
                            <a href="tel:+1-305-856-9305"><span>P: +1 305 856 9305</span></a>
                            <span>F: +1 305 373 4249</span>
                        </div>
                        <span><a href="mailto:maria.hernandez@morihuston.com?subject=I found your contact information on your website and I'd love to chat">maria.hernandez@morihuston.com</a></span>
                    </div>
                </div>
            </div>
            <div class="bio-copy col-sm-6">
                <p>Mrs Hernandez has more than 25 years of experience in banking and wealth management services. She started her career with Panamerican Bank (today Bank of America). She has been at Bankers Trust Co. (today Deutsche Bank) for 13 years as Service Executive/Account Manager for the Latin America market.  Mrs. Hernandez has also been at Citibank International as a Relationship Officer for the Chilean market and recently at SunTrust Bank as Client Advisor for international and US clients.</p>
                <p>Maria Elena holds a Certificate of Humanities/Translation and Interpretation from the Universidad Femenina del Sagrado Corazon (UNIFE) Lima, Peru.</p>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <p>Mori Huston Partners LLC 1450 Brickwell Avenue, Suite 2106, Miami FL 33131</p>
    </div>
</div>

