<div class="col-sm-5 left-content">
    <p class="text-quote">We offer wealth management services for individuals, families and institutions. We strive for excellence in service and highly customize our offering to each particular client situation. Our team of provides experienced leadership and independent thought. Our position as an independent firm is key.</p>
</div>
<div class="col-sm-7 right-content">
    <h3>Join us in investing for the long run.</h3>
    <p>We take a business approach to investing. Being entrepreneurs ourselves we have a business mentality when investing our client’s assets. We don’t just buy and sell stocks and bonds. When investing in stocks we think of it as buying an ownership in a business. Similarly, we buy bonds as if we would be providing a loan. In all investment concerns we try to protect our downside by applying a margin of safety. We focus on value and embrace volatility as it provides us with opportunities to buy the businesses we like at discounted prices. This business and value approach to managing assets provides our clients with a more intuitive and long term investment perspective.</p>
    <button class="cta-btn">
        <a href="#/services/services"><span>View Our Services</span><span class="glyphicon glyphicon-chevron-right"></span></a>
    </button>
</div>
