<h3>{{title}}</h3>
{{{summary}}}

{{!-- This template populates the copy for each button on the Services page. To add/change the copy, access
the array variable called 'services' in the router.js file --}}