<div class="col-sm-6 left-content">
    <ul class="sub-nav">
      {{#each}}
      {{#link-to 'service' this}}<li>{{linkTitle}}<span class="glyphicon glyphicon-chevron-right"></span></li>{{/link-to}}
      {{/each}}
    </ul>
</div>
<div class="col-sm-6 right-content">
  {{outlet}}
</div>


{{!-- <div class="col-sm-6 left-content">
    <ul class="sub-nav about-us">
      <a  class="js-sub-nav" href="#about"><li>Service 1<span class="glyphicon glyphicon-chevron-right"></span></li></a>
      <a  class="js-sub-nav" href="#about/clients"><li>Service 2<span class="glyphicon glyphicon-chevron-right"></span></li></a>
      <a  class="js-sub-nav" href="#about/company"><li>Service 3<span class="glyphicon glyphicon-chevron-right"></span></li></a>
      <a  class="js-sub-nav" href="#about/ethics"><li>Service 4<span class="glyphicon glyphicon-chevron-right"></span></li></a>
      <a  class="js-sub-nav" href="#about/filings"><li>Service 5<span class="glyphicon glyphicon-chevron-right"></span></li></a>
  </ul>
</div>
<div class="col-sm-6 right-content">
  <h3>This is the Services Page!</h3>
      <p><em>Mori Huston Partners is a unique investment management firm.</em> As an Independent Investment Adviser, we offer highly customized, independent and transparent wealth and asset management services for families, individuals and institutions.</p>
      <p>Our <em>boutique and entrepreneurial</em> nature allows us to always be a step ahead. As true innovators we use our expertise and enterprise to source exciting new investment opportunities, but it is our agility which allows us to move quickly to gain the advantage.</p>
      <p>Our position as an <em>independent</em> firm is key. We are not associated to any financial institution. This guarantees decision making that only serves the needs and goals of our clients. Moreover we have a legal fiduciary responsibility to our clients and are held to higher standards by the regulators than bankers and brokers.</p>
      <p>Mori Huston Partners maintains a <em>high degree of confidentiality</em> for its clients, and isolates the client from an ever changing industry by providing stability to the relationship.</p>
      <p>Our <em>services</em> range from discretionary portfolio management to non-discretionary investment advice. We service individual accounts or an entire family of accounts at different financial institutions on a consolidated basis.</p>
</div> --}}
