<div class="col-sm-7 right-content">
  {{outlet}}
</div>
<div class="col-sm-5 left-content">
    <ul class="sub-nav">
      {{#each}}
      <li>{{#link-to 'service' this}}<button>{{linkTitle}}<span class="glyphicon glyphicon-chevron-right"></span></button>{{/link-to}}</li>
      {{/each}}
    </ul>
</div>

{{!-- This template populates the buttons for the Services page. To add/change buttons, access
the array variable called 'services' in the router.js file --}}